nav {
  border-bottom: 1px solid #3c4043;
}
nav .nav-t {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0.5rem 0 0.5rem;
}
nav .nav-t .nav-t-l {
  display: flex;
  align-items: center;
  gap: 3rem;
}
nav .nav-t .nav-t-l .logo {
  margin-left: 2rem;
}
nav .nav-t .nav-t-l .logo img {
  width: 80px;
}
nav .nav-t .nav-t-l form .searchbar-container {
  display: flex;
  position: relative;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar {
  background-color: #303134;
  color: #f1f3f4;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  width: 520px;
  border: none;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons {
  position: absolute;
  right: 10px;
  top: 7px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button {
  position: relative;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container svg,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button svg {
  cursor: pointer;
  width: 20px;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container .tooltip,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button .tooltip {
  visibility: hidden;
  width: 50px;
  background-color: #202124;
  color: #bdc1c6;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #3c4043;
  border-radius: 6px;
  font-size: 0.7rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
  transition: opacity 0.3s;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container .tooltip.tooltip-x,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button .tooltip.tooltip-x {
  width: 40px;
  margin-left: -20px;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container .tooltip.tooltip-voice,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button .tooltip.tooltip-voice {
  width: 95px;
  margin-left: -47.5px;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container .tooltip.tooltip-image,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button .tooltip.tooltip-image {
  width: 100px;
  margin-left: -45px;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-container:hover .tooltip,
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-x path {
  fill: #9aa0a6;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .bar {
  width: 0.5px;
  height: 20px;
  background-color: #9aa0a6;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons .icon-search path {
  fill: #8ab4f8;
}
nav .nav-t .nav-t-l form .searchbar-container .searchbar-icons #submit-button {
  background: none;
  border: none;
  height: 25px;
}
nav .nav-t .nav-t-r {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
nav .nav-t .nav-t-r .google-account svg {
  stroke: #f1f3f4;
}
nav .nav-t .nav-t-r .icon-container {
  padding: 0.5rem;
  border-radius: 50%;
  position: relative;
}
nav .nav-t .nav-t-r .icon-container svg {
  width: 30px;
  cursor: pointer;
}
nav .nav-t .nav-t-r .icon-container .tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #202124;
  color: #bdc1c6;
  padding: 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  border: 1px solid #3c4043;
  text-align: center;
  font-size: 0.7rem;
  transition: opacity 0.3s;
}
nav .nav-t .nav-t-r .icon-container:hover .tooltip {
  display: block;
}
nav .nav-t .nav-t-r .icon-container:hover {
  background-color: #3c4043;
}
nav .nav-t .nav-t-r .ic svg {
  width: 20px;
}
nav .nav-t .nav-t-r .ic path,
nav .nav-t .nav-t-r .ic circle {
  fill: #f1f3f4;
}
nav .nav-b {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-left: 10rem;
  font-size: 0.7rem;
}
nav .nav-b .nav-bl {
  display: flex;
  align-items: center;
  gap: 4rem;
}
nav .nav-b a {
  text-decoration: none;
  color: #bdc1c6;
}
nav .nav-b .nav-b-l {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
nav .nav-b .nav-b-l a {
  color: #f1f3f4;
  border: 1px solid #3c4043;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
}
nav .nav-b .nav-b-l a:hover {
  background-color: #303134;
}
nav .nav-b .nav-b-c {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
nav .nav-b .nav-b-r {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .nav-b .nav-btn {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #9aa0a6;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}
nav .nav-b .nav-btn svg {
  width: 20px;
  padding: 0;
  margin: 0;
}
nav .nav-b .nav-btn svg path {
  fill: #9aa0a6;
}
nav .nav-b .nav-btn:hover {
  background-color: #303134;
}
nav .nav-b .bar {
  width: 0.5px;
  height: 20px;
  background-color: #3c4043;
  margin-right: 0.25rem;
}
body {
  background-color: #202124;
  color: #bdc1c6;
  font-family: arial, sans-serif;
  overflow-x: hidden;
}

/*# sourceMappingURL=main.css.map */
