@import "partials/variables";
@import "partials/navbar";
@import "partials/search-results";
@import "partials/footer";

body {
  background-color: $background-color-body;
  color: $text-grey;
  font-family: arial, sans-serif;
}
