// colours
$background-color-body: #202124;
$border-color: #3c4043;
$icon-grey: #9aa0a6;
$text-grey: #bdc1c6;
$text-white: #f1f3f4;
$search-bar-background: #303134;
$highlight-grey: #303134;
$off-black: #171717;
$link-color: #8ab4f8;
